<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<button class="ui primary button">
  Save
</button>
<button class="ui button" style= "background: ellow ;">
test gggggggghhhhhh
</button>